{% extends 'base.html.twig' %}

{% block title %}Hello MentionslegalesController!{% endblock %}

{% block body %}
    <div class="imgbck">
        <img src="{{ asset('img2/girlcat1.png') }}" alt="pets" class="responsive2">
    </div>


    <div class="txtcontainer">
        <div class="titleMentions">
            <br><br><h1>MENTIONS LÉGALES</h1><br><br><br>
        </div>

        <div class="txtEdit">
            <h2>Éditeur du site</h2><br>
            <p>
                Raison sociale : SAS Petbuddy <br>
                Coordonnées : Petbuddy, 15 rue de l'oiseau bleu 75008 PARIS - 07.67.20.05.25 <br>
                N° de Siret : XXXXXXXXXXXXXX <br>
                N°TVA Intracommunautaire : FRXXXXXXXXXXX <br>
                Gérant : Noémie.D <br><br><br>
            </p>
        </div>

    

        <div class="txtDeclar">
            <h2>Déclaration CNIL</h2><br>
            <p>
                Site déclaré à la CNIL le 10 mai 2021 <br>
                Numéro de déclaration : XXXXXXXXXXXXXX
                <br> Le site www.petbuddy.fr appartient et est exploité par la société Petbuddy. <br>
                www.petbuddy.fr est un nom de domaine appartenant à la marque déposée Petbuddy. <br><br><br>
            </p>
        </div>

        <div class="txtMent">
            <h2>Mentions Légales</h2><br>
            <p>
                L'utilisation du site Petbuddy est régie par les termes et conditions générales d'utilisation détaillés ci-dessous. Tout utilisateur reconnaît en avoir pris connaissance et les accepter. Petbuddy se réserve la possibilité de modifier à tout moment et sans préavis l'accès à www.petbuddy.fr, ainsi que les termes des conditions générales. <br><br><br>
            </p>
        </div>

        <div class="CGU">
            <h2>Conditions Générales d'utilisation</h2><br>
            <p>
                Par utilisateur, on entend toute personne physique et morale qui vient à visiter le site suivant : www.petbuddy.fr <br><br><br>
            </p>
        </div>
        <div class="txtData">
            <h2>Données nominatives</h2><br>
            <p>
                Conformément à la loi n°78-17 du 06 janvier 1978, tout utilisateur ou client du site dispose d'un droit d'accès, de rectification, d'opposition et de suppresion concernant l'ensemble des données à caractère personnel. <br><br><br>
            </p>
        </div>

        <div class="copyright">
            <h2>Copyright et propriété intellectuelle</h2><br>
            <p>
                Tous les écrans, graphismes et autres informations présents sur le site Petbuddy sont la propriété de la société Petbuddy. <br>
                L'ensemble des éléments édités sur ce site, qu'ils soient visuels ou sonores, y compris la technologie sous-jacente, sont protégés par les dispositions du code de la Propriété Intellectuelle.<br>
                Ils sont la propriété exclusive de la société Petbuddy. En conséquence, aucun élément composant ce site ne peut être copié, reproduit, modifié, réédité, chargé, dénaturé, transmis ou distribué de quelque manière que ce soit, de façon partielle ou intégrale, sans l'autorisation écrite et préalable de Petbuddy. Seule la copie à usage privé est autorisée pour votre usage personnel, privé et non-commercial, sur votre ordinateur. L'accès au site vous confère un droit d'usage privé et non exclusif de ce site. <br><br><br>
            </p>
        </div>

        <div class="txtInfoResp">
            <h2>Nature des informations et limitation de responsabilité</h2><br>
            <p>
                Les informations contenues sur le site sont données aux seules fins d'information de l'utilisateur et ne peuvent être considéré comme assorties d'une quelconque forme de garantie. De ce fait, l'utilisation du présent site s'ffectue entièrement aux propres risques de l'utilisateur. Petbuddy ne pourra être tenu pour responsables des dommages directs ou indrects, tels que, notamment, préjudice matériel, pertes de données ou de programme, préjudice financier, résultant de l'utilisation de ce site. <br>
                En outre, Petbuddy ne pourra être tenu responsable pour tous dommages résultant d'une intrusion frauduleuse d'un tiers, ayant entraîné une modification des informations ou éléments mis à la disposition sur le site. <br><br><br>
            </p>
        </div>

        <div class="txtDispo">
            <h2>Disponibilité du site web</h2><br>
            <p>
                Petbuddy s'engage à faire ses meilleurs efforts pour assurer aux utilisateurs une accessibilité du site à tout moment. <br>
                Petbuddy pourra à tout moment, modifier ou interrompte, temporairement ou de façon permanente, tout ou partie du site pour effectuer des opérations de maintenance et/ou effectuer des améliorations et/ou des modifications sur le site. <br><br><br>
            </p>
        </div>

        <div class="txtHost">
            <h2>Hébergement</h2><br>
            <p>
                OVH SAS au capital de 20 000 € <br>
                RCS Paris Métropole XXX XXX XXX XXXXXXXXXXXXXX <br>
                Code APE XXXXX <br>
                N°TVA : FR XX XXX XXX XXX <br>
                Siège social : 60 avenue de wagram - 75017 Paris - FRANCE <br>
                Directeur de la publication : Kandys Nso <br>
                www.ovh.com <br><br><br><br><br><br>
            </p>
        </div>
    </div>













{% endblock %}
